In [1]:
import pandas as pd
import numpy as np
import datetime

data = pd.read_excel('TYLE.xlsx', sheet_name='ГРП')
dummy = pd.read_excel('TYLE.xlsx', sheet_name='МЭР')
dummy.tail()

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
302,2019-04-01,11,123.0,12313.0,123123.0,0.0,0.0,Ю3
303,2019-05-01,11,13.0,123.0,123123.0,0.0,0.0,Ю3
304,2020-01-01,11,123123.0,13.0,123123.0,0.0,0.0,Ю3
305,2021-01-01,11,2131.0,0.0,12331.0,123.0,1231.0,Ю3
306,2021-02-01,11,33131.0,123.0,33.0,123.0,123.0,Ю3

In [3]:

dummy["Пластовое давление (ТР), атм"] = dummy["Пластовое давление (ТР), атм"].replace(0, np.nan).bfill()
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,2016-07-01,1,78.60,55.39,22.13,263.0,131.1,Ю3
1,2016-08-01,1,84.36,59.86,21.52,263.0,118.3,Ю3
2,2016-09-01,1,85.34,68.98,9.13,263.0,107.1,Ю3
3,2016-10-01,1,88.41,71.09,9.67,263.0,94.8,Ю3
4,2016-11-01,1,79.03,62.62,11.16,263.0,79.4,Ю3
...,...,...,...,...,...,...,...,...
302,2019-04-01,11,123.00,12313.00,123123.00,123.0,0.0,Ю3
303,2019-05-01,11,13.00,123.00,123123.00,123.0,0.0,Ю3
304,2020-01-01,11,123123.00,13.00,123123.00,123.0,0.0,Ю3
305,2021-01-01,11,2131.00,0.00,12331.00,123.0,1231.0,Ю3
306,2021-02-01,11,33131.00,123.00,33.00,123.0,123.0,Ю3